@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 251, 251, 251;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb)) !important;
  background: rgb(var(--background-rgb));
}

nav {
  background: linear-gradient(
    45deg,
    rgb(75, 146, 34),
    rgb(97, 8, 225)
  );
}

.results-table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  padding: 10px;
}